= form_for([@technology, @theme]) do |form|
  p
    = form.label :name
    = form.text_field :name
  p
    = form.fields_for :questions do |builder|
      = render 'question', form: builder
  p
    = form.submit
