h2
  = "Your answers to the #{@user_technology.name} : #{@user_theme.name} theme:"
#result

= link_to "Retake test", new_user_technology_user_theme_user_answer_path(@user_technology, @user_theme)

table.table
  thead
    tr
      th
        | Question
      th
        | Your answer
      th
        | Correct answer
      th
        | Old data
  tbody
    - @questions.each do |question|
      tr.question_results
        td.question
          = question.question_text
        td.user_answer
          = question.user_answers(current_user)
        td.correct_answer
          = question.correct_answers
        td
          = question.user_answer_history(current_user)
