= form_for([@user_technology, @user_theme, @user_answer]) do |form|
  - @questions.each do |question|
    = form.label :question, question.question_text
    br

    - question.answers.each do |answer|
      = answer.answer_text
      = form.check_box "#{question.id}", {checked: false, multiple: true}, answer.id
      br

  = form.submit
