= form_with(model: @technology, local: true) do |form|
  p
    = form.label :name
    = form.text_field :name
  p
    = form.label :description
    = form.text_area :description
  p
    = form.submit
