h1
  | Technologies
.btn
  = link_to "Create new", new_technology_path
table.table
  thead
    tr
      th
        | Name
      th[colspan="3"]
        | Actions
  tbody
    - @technologies.each do |technology|
      tr
        td
          = link_to technology.name, technology_path(technology)
        td
          = link_to "Apply", user_technology_path(technology), method: :put
          - if current_user&.admin?
            = link_to "Edit", edit_technology_path(technology)
            = link_to "Remove", technology_path(technology), method: :delete
