h2
  = "#{@technology.name} technology"
p
  = "Description: #{@technology.description}"
= link_to "New theme", new_technology_theme_path(@technology)
table.table
  thead
    tr
      th
        | Theme
      th
        | Progress
      th
        | Actions
  tbody
    - @technology.themes.each do |theme|
      tr
        td
          = link_to theme.name, technology_theme_path(id: theme.id, technology_id: @technology.id)
        td
          |  Progress_placeholder 
        td
          = link_to "Edit", edit_technology_theme_path(id: theme.id, technology_id: @technology.id)
          = link_to "Remove", technology_theme_path(id: theme.id, technology_id: @technology.id), method: :delete
= link_to "Edit", edit_technology_path
= link_to "Remove", technology_path(@technology), method: :delete, data: { confirm: "Are you sure?" }
