h2
  | My technologies
table.table
  thead
    tr
      th
        | Name
      th
        | Action
  tbody
    - @user_technologies.each do |user_technology|
      tr
        td
          = link_to user_technology.name, user_technology_path(user_technology.id)
        td
          = link_to "Remove", user_technology_path(user_technology.id), method: :delete, data: { confirm: "Are yoyu sure?" }
