h2
  = "Technology: #{@user_technology.technology.name}"
table.table
  thead
    tr
      th
        | Name
      th
        | Action
  tbody
    - @user_technology.user_themes.each do |user_theme|
      tr
        td
          = link_to user_theme.theme.name, user_technology_user_theme_path(@user_technology, user_theme)
