doctype html
html
  head
    title
      | QuizApp
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
  body
    nav.navbar.navbar-inverse
      ul.nav.navbar-nav
        li.nav-item
          = link_to "Home", root_path
        li.nav-item
          = link_to "About", static_pages_about_path
        li.nav-item
          = link_to "Technologies", technologies_path
        - if user_signed_in?
          li.nav-item
            = link_to "My Technologies", user_technologies_path
          - if current_user.admin?
            li.nav-item
              = link_to "Administrate", admin_users_path
      ul.nav.navbar-nav.navbar-right
        - if user_signed_in?
          li.nav-item
            = link_to "Sign out", destroy_user_session_path, method: "delete"
        - else
          li.nav-item
            = link_to "Sign up", new_user_registration_path
          li.nav-item
            = link_to "Sign in", new_user_session_path
    .container
      - flash.each do |key, value|
        div class="alert alert-#{key}"= value
      = yield
